

@media (max-width:800px) {
  .warp {
    padding: 80px 0;
  }
  .header {
    flex-direction: column;
    gap: 20px;
  }
  .input-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .input-wrap button {
    margin-top: 20px;
    height: 60px;
  }
  .todoList-wrap {
    margin-top: 70px;
  }
  .todoList-wrap .done {
    margin-top: 50px;
  }
  .working-list {
    grid-template-columns: repeat(2, 1fr);
  }
}